main {
    margin: 20px;
}
main > h2 {
    margin-bottom: 15px;
}

.new-post-form {
    margin: 0 auto;
    width: 550px;
}

.new-post-form > label{
    display: block;
}

.new-post-form .file-description,
.new-post-form .label-select-file {
    text-align: center;
    margin: 5px;
}

.new-post-form input[type=text],
.new-post-form input[type=number],
.new-post-form textarea,
.new-post-form select {
    width: 550px;
    padding: 3px 2px;
    border: 1px solid gray;
}

.new-post-form input[type=submit] {
    display: block;
    width: 250px;
    margin: 20px auto;
    font-size: 16pt;
}