#post {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

#post-images-list > i {
    cursor: pointer;
    margin: 5px 5px 5px 0;
    float: left;
    border: 1.4pt solid #545b62;
    border-radius: 2px;
    display: block;
    background-size: 70px;
    background-position: center;
    width: 70px;
    height: 70px;
}

#post-main-block {
    width: 60%;
}

#post-main-block > .image-container {
    margin: 10px 10px 10px 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgray;
}

#post-main-block > .image-container > img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}

#post-sub-block {
    margin: 0 15px;
}