@{
    ViewData["title"] = "Новое объявление";
    var categories = (ViewData["categories"] as IEnumerable<(uint, string)>) 
                     ?? throw new NullReferenceException("categories");
    var user = (AdsPortal.Models.User)ViewData["User"]!;
}

@section Links
{
    <link rel="stylesheet" href="~/static/css/create_post.css">
}

<main>
    <form method="post" class="new-post-form" enctype="multipart/form-data">
        <h2>Новое объявление:</h2>
        <label>
            Название:<br>
            <input type="text" name="name" required>
        </label>

        <label>
            Категория:<br>
            <select name="catId" required>
                @foreach (var (catId, catName) in categories)
                {
                    <option value="@catId">@catName</option>
                }
            </select>
        </label>

        <label>
            Цена:<br>
            <input type="number" value="0" name="price" required>
        </label>

        <label>
            Описание:<br>
            <textarea name="description" style="height: 200px"></textarea>
        </label>

        <label>
            Местонахождение:<br>
            <input type="text" value="@user.Location" name="location">
        </label>
        
        <p class="file-description">
            Изображения:
        </p>
        <label class="label-select-file">
            <input type="file" name="imageFiles" id="imageFiles" multiple>
        </label>

        <input type="submit" value="Разместить объявление">
    </form>
</main>