@using System.Net

@{
    Layout = null;
}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Регистрация</title>
    <style>
        label {
            display: block;
            margin: 15px 40px;
        }
        input[type=text], input[type=password] {
            width: 100%;
            box-sizing: border-box;
        }
        input {
            font-size: 15pt;
            font-family: Arial monospace;
        }
        input[type=submit] {
            display: block;
            width: 200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<main style="width: 400px; margin: 0 auto; border: 1px solid gray; box-shadow: 2px 4px 5px dimgray; padding: 20px 0">
    <h2 style="text-align: center">Регистрация</h2>
    <form method="post">
        <label><input type="text" name="name" placeholder="Имя пользователя" required></label>
        <label><input type="text" name="phone" placeholder="Телефон" required></label>
        <label><input type="password" name="password" placeholder="Пароль" required></label>
        <input type="submit" value="Зарегистрироваться">
    </form>
</main>

@if (ViewData.TryGetValue("ErrorMsg", out var errorMsg))
{
    <script>alert("@WebUtility.HtmlDecode(errorMsg?.ToString())")</script>
}

</body>
</html>